<%= form_for ([@question, @question.answers.build]) do |f|%>
  <div class="form-group">
    <%= f.text_area :description, class:"form-control", rows:"5"  %>
  </div>
  <div class="form-group text-right">
    <%= f.button "Enviar Respuesta", class:"btn btn-primary"%>
  </div>
<% end %>