<h1>Haz una nueva pregunta</h1>
<%= form_for @question do |f|%>
    <%= f.text_field :title, placeholder: "Ingresa el título de la pregunta" %>
    <%= f.text_area :description, placeholder:"Ingresa la descripción de la pregunta"%>
    <%= f.submit "Crear pregunta"%>
<% end %>
