<div class="px-4">
    <% commentable.comments.order(created_at: :desc).each do |comment|%>
        <p class="my-3 text-secondary" id="markdown-lyric">
            <%= (comment.text)%><br>
            Por <%= comment.user.email %> hace <%= time_ago_in_words(comment.created_at) %>
            <hr>
        </p>
    <% end %>
</div>